asgiref==3.5.2
contourpy==1.0.6
cycler==0.11.0
dj-database-url==1.0.0
Django
django-cors-headers==3.13.0
django-heroku==0.3.1
fonttools==4.38.0
gunicorn==20.1.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib
numpy
packaging
pandas
Pillow
psycopg2
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
sqlparse
threadpoolctl
tzdata
whitenoise
